* {
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

main {
    flex: 1 0 auto;
}
