* {
    

 
}

header {
    text-align: center;
    font-size: 62px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

#choice {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #e8f5e9;
    text-align: center;
    font-size: 36px;
    font-family: 'Open Sans Condensed', sans-serif;


}

body {
    background-color: #64b5f6 ;
}

p{
    font-family: 'Open Sans Condensed', sans-serif;

}

.btn {
    background-color: navy;
}