* {   
    font-family: 'Raleway', sans-serif;
}

header {
    text-align: center;
    font-size: 62px;
    color: white;
}

#choice {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #8bc590;
    text-align: center;
    font-size: 36px;
    border-radius: 25px;
}

body {
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.btn {
    background-color: navy;
}

.btn-floating {
    background-color: navy;
}

.dropdown-content li > a {
    color:navy!important;
}

#cuisineList {
    margin: 30px;
}

#heading {
    color:black;
    background-color: #e8f5e9;
    padding: 30px;

}

h2 {
    text-align: center;
    font-size: 20px !important;
    font-weight: bold;
    color: black;
    padding-bottom: 35px;
    padding-top: 25px;
    margin: 0;
}

hr {
    display: block; 
    overflow: hidden; 
    border-style: inset; 
    background-color: transparent;
    color: navy;
    border-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 50px;
}

#restaurant-location {
    text-align: center;
}
 
#radius {
    text-align: center;
}

.card-title {
    font-size: 40px;
}

main {
    flex: 1 0 auto;
}

.choiceBtn {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    border: 2px solid gray;
    border-radius: 5px;
    margin: 2rem;
}

.footer-copyright {
    border-top: 1px solid darkgray;
}

.main {
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}


 
  
