/* font for the entire site  */
* {   
    font-family: 'Raleway', sans-serif;
}

/* header for every page */
header {
    text-align: center;
    font-size: 62px;
    color: white;
}

/* body on the index document */
body {
    background-color:#ff8a65 ;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

/* all buttons on dine in/dine out pages */
.btn {
    background-color: navy;
}

/* drop-down text */
.dropdown-content li > a {
    color:navy!important;
}

#restaurant-location {
    font-size: 24px;
}
 
.card-title {
    font-size: 40px;
}

main {
    flex: 1 0 auto;
}

.footer-copyright{
    padding: 1rem; 
    margin-top: 2rem;
}



 
  
