* {   
    font-family: 'Raleway', sans-serif;
}

header {
    text-align: center;
    font-size: 62px;
    color: white;
}

#choice {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #e8f5e9;
    text-align: center;
    font-size: 36px;
}

body {
    background-color: #64b5f6 ;
}

.btn {
    background-color: navy;
}

.dropdown-content li > a {
    color:navy!important
}

 
  
